<!DOCTYPE html>
<html>
<head>
<title>DATA TABLE</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/dashboard.css' />
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/materialize/dist/js/materialize.js"></script>
	<script src="/bower_components/highcharts/highstock.js"></script>
	<script src="/bower_components/highcharts/modules/exporting.js"></script>
	<link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-dt/css/jquery.dataTables.min.css">
	<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/bower_components/moment/moment.js"></script>
</head>
<body>
	<div id="header" class="header"></div>
	<div id="sidenav" class="sidenav"></div>
	<div class="main">
		<div class="container">
			<table id="datatable" class="display"></table>
		</div>
	</div>
	<div id="footer" class="footer"></div>
	<script src="/javascripts/initialize.js"></script>
	<script src="/javascripts/datatable.js"></script>
</body>
</html>