<!DOCTYPE html>
<html>
  <head>
    <title>Smart Home Controller</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Stylesheet Library -->
    <link rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.css' />

    <!-- Stylesheet Custom -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Script Library -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.js"></script>
  </head>
  <body>
  <!--<h1><%= __('Hello')%></h1>
  <h1><%= __("Language")%></h1>-->
  <% include header %>
  <% include sidenav %>
  <div class="main">
    <div class="container">
      <!-- Page Content goes here -->
    </div>
  </div>
  <% include footer %>
  <!-- Initialize Scripts -->
  <script src="/javascripts/initialize.js"></script>
  </body>
</html>
