.device_display_box{
    border:2px solid #ff4d4d;
    padding: 12.5px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}
.pagination > li{
    display: inline;
    width: auto;
    height: 35px;
    padding: 5px 15px;
}

.mybtn{
    font-size: 12px;
}

